# artifacts
**/__pycache__
.pytest*
*.egg-info
*/build/*
*/dist/*

# misc
.coverage
.vscode
coverage.xml
poetry.lock

# files potentially containing personal credentials or data
**/authcache
**/exports
**/mqttdumps
/node_modules/
/ankertest.py
/client.py
/daily_energy_*.csv
.env
