[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cryptography = "*"
aiohttp = ">=3.10.11"
aiofiles = "*"

[dev-packages]
pre-commit = "*"

[requires]
python_version = ">=3.12"
